::-webkit-input-placeholder {
    color: white
}

.ErrorRegister {
    margin-top: 0 auto;
    margin-bottom: 3vh;
}

.RegisterForm{
    width: 100%;
}

.SubmitButton {
    background-color: #0476e9;
    border: none;
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
    font-weight: bold;
    color: #fff
}

.SubmitButton:hover {
    background-color: #fff;
    color:#0476e9;
    border: solid 1px #0476e9
}

@keyframes popout {
    from{width: 0;}
    to{width: 100%;}
}
@-webkit-keyframes popout {
    from{width: 0;}
    to{width: 100%;}
}