.AuthCard{
    padding: 20px 50px 20px 50px;
    align-content: center;
    width: 35vw;
    max-width: 800px;
    min-width: 600px;
    height: 75vh;
    transition: transform 0.3s ease-out;
    border: none;
    background-color: transparent;
}

.Logout {
    transform: translateX(0);
}

.Login {
    transform: translateX(70vw) translateX(-100%);
}