* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

button.ant-btn {
  border-radius: 5px !important;
}
.ant-modal-footer {
  border: unset !important;
}
.ant-modal-header {
  border: unset !important;
}
