.InputForm {
    width: 100%;
}

::-webkit-input-placeholder {
    color: white
}

.ErrorLogin {
    margin-top: 0 auto;
    height: 20px;
}

.SubmitButton {
    background-color: pink;
    width: 50%;
    border: none;
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}

.SubmitButton:hover {
    background-color: rgb(217, 245, 255);
}

@keyframes popout {
    from{width: 0;}
    to{width: 50%;}
}
@-webkit-keyframes popout {
    from{width: 0;}
    to{width: 50%;}
}