.InputForm {
    width: 100%;
}

::-webkit-input-placeholder {
    color: white;
}

.ErrorLogin {
    margin-top: 0 auto;
    height: 20px;
}

.SubmitButton {
    background-color: pink;
    width: calc(50% - 10px);
    border: none;
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
    margin-left: 20px;
}

.SubmitButton:hover {
    background-color: #f7f7f7;
    color: pink;
}

.FacebookButton {
    background-color: #15a4fa;
    width: calc(50% - 10px);
    border: none;
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}

.FacebookButton:hover {
    background-color: #f7f7f7;
    color: #15a4fa;
}

@keyframes popout {
    from {
        width: 0;
    }
    to {
        width: calc(50% - 10px);
    }
}
@-webkit-keyframes popout {
    from {
        width: 0;
    }
    to {
        width: calc(50% - 10px);
    }
}
