.InputForm {
    width: 100%;
}

::-webkit-input-placeholder {
    color: white;
}

.ErrorLogin {
    margin-top: 0 auto;
    height: 20px;
}

.SubmitButton {
    background-color: #F4516C;
    width: calc(50% - 10px);
    border: none;
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
    margin-left: 20px;
    font-weight: bold;
    color: #fff

}

.SubmitButton:hover {
    background-color: #fff;
    color:#F4516C;
    border: solid 1px #F4516C
}


.FacebookButton{
    width: calc(50% - 10px);
    background-color: #0476e9;
    color: #fff;
    font-weight: bold;
    animation: popout 1s ease;
}
.FacebookButton:hover{
    background-color: #fff;
    color: #0476e9;
}

@keyframes popout {
    from {
        width: 0;
    }
    to {
        width: calc(50% - 10px);
    }
}
@-webkit-keyframes popout {
    from {
        width: 0;
    }
    to {
        width: calc(50% - 10px);
    }
}
